.add-spot-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-spot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.add-spot-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 600px;
    height: 620px
}

.add-form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
}

.add-input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border: 1px lightgray solid;
}

.form-text-area {
    height: 173px;
}

#add-spot-top-border {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#add-spot-bottom-border {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 150px;
}

textarea {
    height: 200px;
    resize: none;
    font-family: 'Inter', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-form-button {
        height: 35px;
        width: 550px;
        background-color: rgb(255, 56, 92);
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 700;
        font-size: 14px;
}

.form-cancel {
    margin-top: 10px;
}

.errors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 155px;
    width: 500px;
}

#add-spot-header-text {
    margin: 20px 0px 0px 0px;
}

.create-spot-error-message {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: red;
    width: fit-content;
    padding-left: 40px;
}
