.single-spot-spotwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
}

.single-spot-card {
    width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.single-spot-title {
    /* padding: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
}

.single-spot-name {
    font-size: 26px;
    font-weight: 600
}

.single-spot-header {
    display: flex;
    align-items: center;
    margin-top: 5px
}

#single-spot-numreviews {
    margin-left: 5px
}

#single-spot-location {
    margin-left: 5px;
}

.single-spot-images {
    display: flex;
}

.single-spot-image-columns {
    display: flex;
}

.image-columns {
    display: flex;
    flex-direction: column;
}

#spotimg2 {
    width: 560px;
    height: 450px;
    border-radius: 20px;
}

.reviews-big-info {
    display: flex;
}
