.spotwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0px 80px
}

.title {
    /* padding: 0 auto; */
    border: 1px red solid;
    margin: 0 auto;
    width: fit-content;
}

#spotimg2 {
    width: 560px;
    height: 450px
}

/* FIX FONT ON HEROKU */
