.single-spot-spotwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
}

.single-spot-card {
    width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.single-spot-title {
    /* padding: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
}

.single-spot-name {
    font-size: 26px;
    font-weight: 600
}

.single-spot-header {
    display: flex;
    align-items: center;
    margin-top: 5px
}

#single-spot-numreviews {
    margin-left: 5px
}

#single-spot-location {
    margin-left: 5px;
}

.single-spot-images {
    display: flex;
    margin-bottom: 20px;
}

.single-spot-image-columns {
    display: flex;
    padding-left: 8px;
}

.image-columns {
    display: flex;
    flex-direction: column;
}

.small-image {
    height: 223px;
    width: 225px;
    object-fit: cover;
}

.top-right {
    border-top-right-radius: 15px;
}

.bottom-right {
    border-bottom-right-radius: 15px;
}

#spotimg2 {
    width: 560px;
    height: 450px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.single-spot-description {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 1026px;
}

.single-spot-information {
    width: 650px;
}

.single-spot-host {
    height: 50px;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 0px;
    border-bottom: 1px lightgray solid;
}

.single-spot-booking {
    width: 275px;
}

.single-spot-booking-content {
    display: flex;
    justify-content: space-between;
}

.booking-content-reviews {
    display: flex;

}

#booking-content-price {
    font-size: 22px;
    font-weight: 600;
    padding-right: 5px;
}

#booking-content-night {
    font-size: 16px;
}

#booking-content-rating {
    font-size: 14px;
}

.reviews-big-info {
    display: flex;
}
