.current-user-page-wrapper {
    margin-left: 300px
}

.reviews-each-container {
    padding: 10px;
    width: 700px;
}

.current-review {
    border: lightgray 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.review-to-spot {
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
}
