.allspots {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    justify-content: center;
    gap: 20px;
}

/* .spotcard {
    margin-top: 50px;
} */

#spotimg {
    width: 300px;
    height: 300px;
    border-radius: 25px;
}

.singlespot {
    padding: 20px;
}
