.allspots {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    justify-content: center;
    gap: 20px;
}

/* .spotcard {
    margin-top: 50px;
} */

#spotimg {
    width: 300px;
    height: 300px;
    border-radius: 25px;
}

.singlespot {
    padding: 20px;
}

.spot-name {
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    padding-top: 10px;
}

.city {
    color: #222222;
}

.country {
    color: #222222;
}

.price {
    color: #222222;
}

.rating {
    color: #222222;
}

#nopurpleplease {
    text-decoration: none;
}
