.reviews-page-wrapper {
    display: flex;
    flex-direction: column;
    width: 1030px;
}

.reviews-each{
    padding-top: 10px;
    padding-bottom: 20px;
}

.review-page-name {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 2px;
}

.review-page-date {
    font-size: 14px;
    font-weight: 400;
}

.review-page-description {
    padding-top: 10px;
    word-wrap: break-word;
}

.review-delete {
    margin-top: 15px;
    height: 40px;
    width: 150px;
    background-color: rgb(255, 56, 92);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}
