/* TODO Add site wide styles */
/* @import url('http://fonts.cdnfonts.com/css/circular-std'); */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');


html,
body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
    /* font-family: 'Circular Std', sans-serif; */
    font-family: 'Inter', sans-serif;
}

html {
    overflow-y: scroll;
}
