.menu-container {
    width: 100px;
}

.menu-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: none;
    height: 45px;
    width: 80px;
}

.menu-button:hover {
    box-shadow: 0px 2px 3px gray;
}

.fa-solid {
    padding: 10px 5px
}

.rock-menu-icon {
    padding: 2px;
}

.profile-dropdown {
    position: relative;
}

.user-dropdown {
    position: absolute;
    top: calc(100% + 10px);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    right: 20px;
    width: 190px;
}

.dropdown-links:hover {
    background-color: rgb(231, 231, 231);
}



/* .user-dropdown {
    text-decoration: none;
    color: black;
} */
